.number-box__row
  #1.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "かに玉"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "1", class: "btn"
  #11.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "野菜炒め"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "11", class: "btn"
  #21.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "カキフライ"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "21", class: "btn"
.number-box__row
  #2.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "すぶた"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "2", class: "btn"
  #12.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "エビチリ"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "12", class: "btn"
  #22.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "焼肉(豚)"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "22", class: "btn"
.number-box__row
  #3.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "唐揚げ"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "3", class: "btn"
  #13.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "ハンバーグ"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "13", class: "btn"
  #23.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "豚生姜焼き"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "23", class: "btn"
.number-box__row
  #4.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "麻婆豆腐"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "4", class: "btn"
  #14.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "ミニとんかつ"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "14", class: "btn"
  #24.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "だし巻き玉子"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "24", class: "btn"
.number-box__row
  #5.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "カニ豆腐"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "5", class: "btn"
  #15.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "ミニ味噌とんかつ"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "15", class: "btn"
  #25.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "サーモン塩焼き"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "25", class: "btn"
.number-box__row
  #6.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "餃子"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "6", class: "btn"
  #16.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "小海老フライ"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "16", class: "btn"
  #26.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "肉じゃがコロッケ"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "26", class: "btn"
.number-box__row
  #7.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "揚げ餃子"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "7", class: "btn"
  #17.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "モツ煮"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "17", class: "btn"
  #27.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "ミニサラダ"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "27", class: "btn"
.number-box__row
  #8.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "シューマイ"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "8", class: "btn"
  #18.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "さばみそ"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "18", class: "btn"
  #28.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "ライス"
      = f.hidden_field :price, value: 100
      = f.hidden_field :quantity, value: 1
      = f.submit "ライス", class: "btn100"
.number-box__row
  #9.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "揚げシューマイ"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "9", class: "btn"
  #19.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "煮物"
      = f.hidden_field :price, value: 400
      = f.hidden_field :quantity, value: 1
      = f.submit "19", class: "btn"
  #29.number-box__row--btn
    = form_for(@user_food, url: orders_path ) do |f|
      = f.hidden_field :food, value: "みそ汁"
      = f.hidden_field :price, value: 100
      = f.hidden_field :quantity, value: 1
      = f.submit "みそ汁", class: "btn100"